<%= form_tag( :session_create, :method => "post", :role=> "form" ) do %>

  <h1>Login</h1>

    <div class="field">
    <%= label_tag :email %><br>
        <%= email_field_tag :email %>
    </div>

    <div class="field">
      <%= label_tag :password %><br>
      <%= password_field_tag :password %>
    </div>

    <div class="field">
      <br>
      <%= submit_tag "Login", :class=>"btn btn-primary" %> <%=link_to "Sign up", :new_user%>
    </div>

<% end %>