<%= form_for @user do |f| %>

<h1>Sign Up!</h1>

<% if @user.errors.count > 0 %>
<div class="alert alert-danger">
  <ul>
    <%  for message in @user.errors.full_messages %>
    <li><%= message %></li>
    <% end %>
  </ul>
  <br>
</div>
<% end %>

<div class="container col-lg-2">
  <div class="form-group">
    <label for="first_name">First Name</label>
    <%=  f.text_field :first_name, :class=>"form-control", :placeholder => "First Name"%>
  </div>

  <div class="form-group">
    <label for="last_name">Last Name</label>
    <%=  f.text_field :last_name, :class=>"form-control", :placeholder => "Last Name"%>
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <%=  f.email_field :email, :class=>"form-control", :placeholder => "Email"%>
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <%=  f.password_field :password, :class=>"form-control", :placeholder => "Password"%>
  </div>

  <div class="form-group">
    <label for="password_confirmation">Password Confirmation</label>
    <%=  f.password_field :password_confirmation, :class=>"form-control", :placeholder => "Password Confirmation" %>
  </div>

  <div class="form-group">
    <%= f.submit "Sign up", :class => "btn btn-primary" %>
  </div>
</div>
<% end  %>
